body {
    padding-top: 60px;
    /* Adjust based on navbar height */
  }

  .navbar-nav {
    color: red !important;
  }

  hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
  }

  hr.divider-light {
    background-color: #fff;
  }

  .text-primary {
    color: #ff6600 !important;
  }

  .hidden {
    display: none;
}

.background-container {
  background: url('/PSA-ResopnsiveWebsite-17-02/images/banner2.png') center center/cover !important;
  min-height: 400px;
  width: 100%;
}
.mt-20 {
  margin-top: 20px;
}
